===
Using this file as an easily accessible notepad to create column constraints, then paste into Supabase. Is never referenced in code.
===


unit_type = ANY (ARRAY[
    'Troops'::text, 
    'Tank'::text, 
    'Launcher'::text, 
    'Tank'::text, 
    'Launcher'::text, 
    'Convoy'::text, 
    'Frigate'::text, 
    'Battleship'::text,
    'Space Fighter'::text,
    'Bomber'::text,
    'Corvette'::text,
    'Command Ship'::text,
    'Missile Satellite'::text,
    'Cruise Missile'::text,
    'ICBM'::text,
    'Nuclear Warhead'::text,
    'Defense Radar'::text,
    'Cargo Truck'::text,
    'Barge'::text,
    'Transport'::text
])

facility_type = ANY (ARRAY[
    'Fishing Boat'::text, 
    'Farm'::text, 
    'Crop Field'::text, 
    'Food Processing Plant'::text, 
    'Water Purification Plant'::text, 
    'Oxygen Condenser'::text, 
    'Oxygen Generator'::text, 
    'Iron Mine'::text, 
    'Iron Pit Mine'::text, 
    'Aluminum Pit Mine'::text, 
    'Copper Mine'::text, 
    'Copper Pit Mine'::text, 
    'Platinum Mine'::text, 
    'Titanium Mine'::text, 
    'Titanium Pit Mine'::text, 
    'Gold Mine'::text, 
    'Diamond Mine'::text, 
    'Uranium Mine'::text, 
    'Coal Mine'::text, 
    'Coal Pit Mine'::text, 
    'Oil Well'::text, 
    'Oil Driller'::text, 
    'Oil Refinery'::text, 
    'Natural Gas Well'::text, 
    'Natural Gas Driller'::text, 
    'Natural Gas Refinery'::text,
    'Factory'::text,
    'Military Base'::text
])

output_type = ANY (ARRAY[
    'Steel'::text, 
    'Aluminum'::text, 
    'Copper'::text, 
    'Platinum'::text, 
    'Titanium'::text, 
    'Gold'::text, 
    'Diamond'::text, 
    'Uranium'::text,
    'Oxygen'::text,
    'Food'::text,
    'Water'::text,
    'Fuel'::text,
    'Coal'::text,
    'Gas'::text,
    'Energy'::text,
    'Oil'::text, 
    'Methane'::text, 
    'NaturalGas'::text, 
    'CopperOre'::text,
    'GoldOre'::text,
    'IronOre'::text,
    'AluminumOre'::text,
    'TitaniumOre'::text,
    'PlatinumOre'::text,
    'UraniumOre'::text
])

yeah the only resources that dont get refined/processed are water, 
food, oxygen, and coal. oil and gas have their own refineries. then each 
factory refines two resources and none of the others. T1 does copper and gold, 
T2 iron and diamonds, T3 aluminum and titanium, T4 platinum and uranium. and again, 
no backwards compatibility, so like T4 can't just refine anything.

nation_id = ANY (ARRAY[
    'A'::text,
    'B'::text,
    'C'::text,
    'D'::text,
    'E'::text,
    'F'::text,
    'G'::text,
    'H'::text,
    'I'::text,
    'J'::text,
    'K'::text,
    'L'::text,
    'M'::text,
    'N'::text,
    'O'::text,
    'P'::text,
    'Q'::text,
    'R'::text,
    'S'::text,
    'T'::text,
    'U'::text,
    'V'::text
])

role = ANY (ARRAY[
    'Admin'::text, 
    'Player'::text
])